# Python
*.py[cod]
__pycache__/
*.so

# Django
*.log
*.pot
*.py[cod]
__pycache__/
*.so
db.sqlite3
/media/
/staticfiles/

# Environment variables
.env

# Virtual environment
.venv/
venv/

# macOS
.DS_Store

# Windows
Thumbs.db

# Visual Studio Code
.vscode/

# PyCharm
.idea/

# Backup files
*.bak
*.swp
